* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-root: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    --base_font_size: 24px;
}

body {
    font-size: var(--base_font_size);
}

header {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 50px;
    padding-top: 10px;
    gap: 100px;
}

.instructions-area {
    background-color: rgba(172, 166, 169, 0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    width: 450px;
    font-size: 20px;
}
header h1 {
    font-size: 30px;
    margin: 10px;
}

.gamearea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid red;
    margin-top: 5px;
    height: 600px;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transform: scaleY(-1);
}

/* grid cells for the board */
.container > * {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(65, 174, 210);
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.player_one_area,
.player_two_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_one_ship_area,
.player_two_ship_area {
    width: 120px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(2, 30px);
    justify-items: center;
    align-items: center;
}

.player_one_ship_area > div,
.player_two_ship_area > div {
    display: flex;
}

.player_one_ship_area > div > *,
.player_two_ship_area > div > * {
    width: 10px;
    height: 10px;
    text-align: center;
    border: 1px solid rgb(65, 174, 210);
}

.patrolboat {
    grid-column: 1 / span 2;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

#start {
    display: none;
}
input {
    cursor: pointer;
}
